.container {
	background-color: #1a6a73;
	flex: 1;
}

.wavyHeader {
	height: 200px;
	background-color: red;
	z-index: 100;
}

.pauseButton {
	align-items: center;
	top: 30%; 
}

.progressBar {
	width: 100%;
	position: absolute;
	bottom: 20px;
	left: 0;
	height: 100px;
}

.bottomInfo {
	width: 100%;
	margin-top: 10px;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.levelText {
	text-align: center;
	font-size: 30px;
	font-family: 'Lato-Light';
	color: #fff;
}
