@import '../../styles/_fonts';

.container {
	flex: 1;
	padding: 0;
	margin: 0;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
}

.levelText {
	@include heading-26;
	@include text-light;
	text-align: center;
}

.getBenefitsTitle {
	@include heading-18;
	@include text-light;
	text-align: center;
}
