@mixin Text() {
	font-family: 'Lato-Light';
	color: #000;
	font-size: 30px;
	text-align: center;
}

.container {
	flex: 1;
	padding: 0;
	margin: 0;
}

.header {
	position: absolute;
	top: 0;
	width: 100%;
}

.levelText {
	@include Text();
	color: #fff;
}
.modal {
	margin-top: 20px;
}
.newLevel {
	@include Text();
}
.fontBold {
	@include Text();
	font-family: 'Lato-Bold';
}
.youGet {
	@include Text();
}
