.colorButton {
	width: 65px;
	height: 65px;
	border: 1px solid #000;
	border-radius: 5px;
}
.name {
	text-align: center;
	font-family: 'Lato-Light';
	font-size: 16px;
	margin: 0 0 10px 0;
}
.container {
	align-items: center;
	width: 100px;
	margin-right: 10px;
}
