{
	"extends": ["webstrong/native", "webstrong/typescript", "plugin:@typescript-eslint/base"],
	"plugins": ["jest"],
	"parserOptions": {
		"project": "./tsconfig.json",
		"ecmaVersion": 2021,
		"sourceType": "module"
	},
	"env": {
		"jest/globals": true
	},
	"rules": {
		"jest/no-disabled-tests": "warn",
		"jest/no-focused-tests": "error",
		"jest/no-identical-title": "error",
		"jest/prefer-to-have-length": "warn",
		"jest/valid-expect": "error",

		"react/require-default-props": 0,
		"@typescript-eslint/ban-ts-comment": 0,
		"react/no-array-index-key": 0,
		"@typescript-eslint/no-redeclare": 0,
		"no-import-assign": 0,
		"no-redeclare": 0,
		"global-require": 0,
		"react/jsx-indent": 0,
		"react/jsx-tag-spacing": 0,
		"react/jsx-indent-props": 0,
		"react/jsx-wrap-multilines": 0,
		"react/no-unused-prop-types": 0,
		"react/jsx-one-expression-per-line": 0,
		"@typescript-eslint/no-var-requires": 0
	}
}
