.container{
    background-color: #1a6a73;
}

.randomIcon{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    margin: 10px;
}
.playIcon{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    border-radius: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}