.container {
	flex: 1;
	position: relative;
	z-index: 20;
}

.videoWrapper {
	top: 72px;
	position: relative;
	align-items: center;
}

.exitIcon {
	position: absolute;
	left: 32px;
	top: -20px;
	z-index: 30;
}

.playerButtons {
	position: relative;
	margin-top: 104px;
	align-items: center;
}

.drawButton {
	position: absolute;
	z-index: 20;
}
