@import '../../../../../styles/_fonts';

.container {
	flex-direction: column;
	justify-items: center;
}

.loading {
	margin: 48px 0 32px 0;
}

.ratingTitle {
	@include heading-18;
	@include text-light;
	color: #000;
	text-align: center;
	margin: 20px 0;
}
