@mixin Text {
	font-size: 32px;
	font-family: 'Lato-Light';
	color: #fff;
	text-align: center;
}

.container {
	flex: 1;
}
.headerContainer {
	height: 185px;
	padding-top: 40px;
	margin: 0 20px;
}
.header {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.title {
	font-size: 26px;
	font-family: 'Lato-Light';
	text-transform: uppercase;
}
.progressBar {
	margin: 12px 0;
}
.levelText {
	@include Text();
}
.levelInfo {
	@include Text();
	font-size: 16px;
	margin-bottom: 10px;
}
.nextLevelText {
	margin-top: 80px;
	margin-bottom: 32px;
}
.fontBold {
	font-family: 'Lato-Bold';
}
