@mixin Text {
	font-size: 16px;
	font-family: 'Lato-Light';
	text-align: center;
}

@mixin ButtonGroup {
	margin-top: 8px;
	border-radius: 14px;
	padding: 4px 4px;
}
.container {
	flex: 1;
}
.title {
	font-size: 26px;
	font-family: 'Lato-Light';
	text-transform: uppercase;
}
.label {
	@include Text();
	text-transform: uppercase;
	margin-top: 40px;
}
.settings {
	margin: 20px 0 48px 0;
	align-items: center;
}
.selectedButton {
	border-radius: 12px;
	width: 90%;
	align-self: center;
}
.languages {
	@include ButtonGroup();
	width: 185px;
}
.difficulty {
	@include ButtonGroup();
	width: 300px;
}
.breakTime {
	@include ButtonGroup();
	width: 260px;
}
.buttonStyles {
	width: 300px;
	border-radius: 14px;
}
.buttonTitle {
	@include Text();
	text-transform: uppercase;
	margin-right: 5px;
}
.buttonGroupText {
	font-size: 16px;
}
.clearButtonPosition {
	position: absolute;
	bottom: 20px;
	padding-top: 20px;
	width: 100%;
	align-items: center;
}

.ModalText {
	@include Text();
	color: #000;
}

.Modal {
	margin-top: 20px;
}
