@mixin Text() {
	font-family: 'Lato-Light';
	font-size: 16px;
	color: #fff;
}

.container {
	flex: 1;
	background-color: #000;
}

.headerContainer {
	height: 185px;
	padding-top: 40px;
	margin: 0 20px;
}
.header {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.breakIn {
	@include Text();
}
.counter {
	flex-direction: column;
	align-items: flex-end;
}
.counterText {
	@include Text();
	font-size: 24px;
	font-family: 'Lato-Bold';
}

.infoText {
	@include Text();
	margin-right: 2px;
}
.playerCounter {
	@include Text();
	font-family: 'Lato-Bold';
	font-size: 28px;
}
.musicInfo {
	flex-direction: row;
	align-items: center;
}
.ModalText {
	@include Text();
	color: #000;
	text-align: center;
}

.Modal {
	margin-top: 20px;
}
.image {
	opacity: 0.5;
	position: absolute;
	top: 0;
}
.exerciseInfo {
	align-self: center;
	align-items: center;
	top: 10%;
}
.exerciseName {
	@include Text();
	font-size: 48px;
	text-transform: uppercase;
	text-decoration: underline;
}
.exerciseIcon {
	height: 45%;
}
