@import '../../styles/_fonts';

.container {
	flex: 1;
	background-color: #000;
}

.breakIn {
	@include text-16;
	@include text-light;
}

.counter {
	align-items: flex-end;
}

.counterText {
	@include heading-22;
	@include text-bold;
}

.infoText {
	@include text-16;
	@include text-light;
	margin-right: 4px;
}

.playerCounter {
	@include heading-28;
	@include text-bold;
}

.musicInfo {
	flex-direction: row;
	align-items: center;
}

.modalText {
	@include text-16;
	@include text-light;
	color: #000;
	text-align: center;
}

.modal {
	margin-top: 12px;
}

.image {
	opacity: 0.7;
	position: absolute;
	top: 0;
}

.exerciseInfo {
	flex: 1;
	justify-content: center;
	align-self: center;
	margin-top: -128px;
}

.exerciseName {
	@include heading-40;
	@include text-light;
	text-transform: uppercase;
}

.exerciseIcon {
	height: 196px;
}

.breakText {
	@include heading-40;
	@include text-light;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
}

.startCounter {
	@include text-bold;
	font-size: 150px;
	color: #fff;
}
