@import '../../../../../styles/_fonts';

.modalInfo {
	width: 100%;
	margin-top: 4px;
	align-items: center;
}

.modalElements {
	flex-direction: row;
}

.marginModalInfo {
	margin-right: 5px;
}

.textBold {
	@include text-bold;
	line-height: 25px;
}

.textLight {
	@include text-light;
	line-height: 25px;
}
