@import '../../styles/_fonts';

.nextLevelInfo {
	align-self: center;
	height: 40px;
	width: 285px;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	border-radius: 14px;
}

.nextLevelInfoText {
	@include text-16;
	@include text-light;
	text-align: center;
}

.title {
	@include heading-28;
	@include text-light;
	color: #000;
	text-align: center;
	margin: 24px 0;
}
