.nextLevelInfo {
	align-self: center;
	height: 40px;
	width: 285px;
	background-color: #c5d1d9;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	border-radius: 14px;
}
.nextLevelInfoText {
	font-family: 'Lato-Light';
	text-align: center;
	color: #000;
	font-size: 16px;
}
.title {
	font-size: 32px;
	font-family: 'Lato-Light';
	color: #fff;
	text-align: center;
}
