@import '../../../styles/_fonts';

.colorButton {
	width: 65px;
	height: 65px;
	border: 1px solid #000;
	border-radius: 5px;
}

.name {
	@include text-light;
	@include text-15;
	text-align: center;
	width: 85px;
	margin: 0 0 10px 0;
}

.container {
	align-items: center;
	width: 100px;
	margin-right: 10px;
}
