@import '../../styles/_fonts';

.container {
	height: 100%;
}

.headerContainer {
	padding-top: 40px;
	margin: 0 20px;
}

.exerciseHeading {
	@include text-16;
	@include text-light;
	text-transform: uppercase;
	text-align: center;
}

.exerciseName {
	@include heading-40;
	@include text-light;
	text-transform: uppercase;
	text-align: center;
}

.exerciseInfoWrapper {
	position: absolute;
	top: 55%;
	width: 100%;
}

.exerciseInfo {
	align-items: center;
	margin-bottom: 20px;
}

.exerciseInfoHeading {
	@include text-16;
	@include text-light;
}

.exerciseInfoElement {
	@include heading-30;
	@include text-light;
	display: flex;
	flex-direction: row;
}

.exerciseInfoText {
	@include heading-30;
	padding-top: 4px;
}

.bottomIcons {
	position: absolute;
	width: 85%;
	bottom: 30px;
	left: 8%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.icon {
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 40px;
	justify-content: center;
	align-items: center;
}

.modalInfo {
	width: 100%;
	margin-top: 4px;
	align-items: center;
}

.modalElements {
	flex-direction: row;
}

.marginModalInfo {
	margin-right: 5px;
}

.textBold {
	@include text-bold;
	line-height: 25px;
}

.textLight {
	@include text-light;
	line-height: 25px;
}
